body {
	font-family: Roboto Mono, monospace;
	background-color: #fff;
	color: white;
	margin: 0;
	padding: 0;
}

p {
	font-size: 0.9em;
	margin: 3px;
	white-space: pre;
}

#header {
	width: 100%;
	background-color: #500;
	padding:10px;
	font-size: 1.3em;
}

#header a {
	color: white;
}

h1.title {
	border-bottom: 5px solid #f00;
}
h3.title {
	border-bottom: 2px solid #f00;
}

.wrap {
	user-select: none;
	font-size: 0.8em;
	display: inline-block;
	margin: 2px 4px;
	background-color: #300;
	color: white;
	border-radius: 6px;
	padding: 2px 5px;
}

.mybutton {
	white-space: pre;
	margin: 10px 0;
	display: inline-block;
	padding: 5px;
	background-color: #300;
	border: 1px solid #500;
	border-radius: 10px;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
   	background-color: #300;
    z-index: 2;
    cursor: pointer;
}

.inner {
   background-color: #800;
	width: 400px;
	margin: 20px auto;
	padding: 20px 40px;
	border-radius: 10px;
}

input {
	font-family: Roboto Mono, monospace;
	border: 1px solid #500;
	border-radius: 5px;
	background-color: #300;
	color: white;
	margin: 2px;
	padding: 3px;
	white-space: pre;
	margin: 10px 0;
	display: inline-block;
	padding: 5px;
	background-color: #300;
	border: 1px solid #500;
	border-radius: 10px;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

select {
	font-family: Roboto Mono, monospace;
	border: 1px solid #500;
	border-radius: 5px;
	background-color: #300;
	color: white;
	margin: 2px;
	padding: 3px;
}

textarea {
	resize: none;
	font-family: Roboto Mono, monospace;
	border: 1px solid #500;
	border-radius: 5px;
	background-color: #300;
	color: white;
	margin: 2px;
	padding: 3px;
}

.match {
	display: inline-block;
	border: 1px solid white;
	padding: 9px;
	margin: 15px;
	width: 300px;
	border-radius: 20px;
}

#search {
	text-align: center;
}

#search_content {
	text-align: center;
	background-color: #822;
	margin : 5px 30px;
	border-radius: 10px;
	padding: 20px;
}

#chat {
	background-color: #500;
	width: 300px;
	height: 300px;
	position: fixed;
	bottom: 0;
	right: 15px;
	padding: 10px;
	border-radius: 10px;
}
