doctype html
html
	head
		title Matcha
		link(href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet")
		link(rel="stylesheet" href="style/style.css")
		script(src="matcha.js" href="style/style.css")
		link(rel="shortcut icon" href="favicon.png")
body

	div#header
		a(href="/notifs") Matcha
		span  |       
		a(href="/notifs") Notifications
		span  |           
		a(href="/" onclick="log_out()") Log out	
	br
	div#container
		div#search_content &#9825; Your Matches &#9825;
		br
		div#search Refine matches:
			br
			form(name="register" onsubmit="register_submit(); return false;")
				p      Age gap:  
					input(name="age" id="inage" type="range" onchange="outage.value = inage.value")
					output(id="outage" type="text")
				p     Fame gap:  
					input(name="fame" id="ingap" type="range" onchange="outgap.value = ingap.value")
					output(id="outgap" type="text")
				p # Common tags:  
					input(name="tags" id="intag" type="range" onchange="outtag.value = intag.value")
					output(id="outtag" type="text")
				p      Distance:  
					input(name="dist" id="indis" type="range" onchange="outdis.value = indis.value")
					output(id="outdis" type="text")
				br
				p Sort by:
				p Age gap:                
					input(type="radio" name="sort") 
				p Geographic closeness:   
					input(type="radio" name="sort") 
				p Popularity:             
					input(type="radio" name="sort")           
				p Mutual tags:            
					input(type="radio" name="sort")
	div#chat Chat window

script.

	window.addEventListener("load", search);
	window.addEventListener("load", function() {
		save = document.getElementById("container").innerHTML;
	});

	var save;

	function search() {
		xhr = new XMLHttpRequest();
		xhr.open("GET", 'api/getByMail', true);	
		xhr.setRequestHeader('Content-Type', 'application/json');
		xhr.onload = function() {
			user = JSON.parse(this.responseText).data;
			console.log("logged:", user);
			xhr = new XMLHttpRequest();
			xhr.open("POST", 'api/getMatches', true);	
			xhr.setRequestHeader('Content-Type', 'application/json');
			xhr.onload = search_populate;
			xhr.send(JSON.stringify({ // actually give these names
				user: user
				//'agemax': document.forms["register"]["age"].value,
				//'famemax': document.forms["register"]["fame"].value,
				//'tagmax': document.forms["register"]["tags"].value,
				//'dismax': document.forms["register"]["dist"].value,
			}));
		}
		var logged = parseCookies(document.cookie).login;
		console.log("logged", parseCookies(document.cookie).login);
		xhr.send(JSON.stringify({email: logged}));
	}

	function search_populate() {
		var data = JSON.parse(this.responseText);
		if (data.message == "OK") {
			console.log("succes", data.data);
			var div = document.getElementById("search_content");
			var users = data.data;
			for(var i = 0; i < users.length; i++) {
				var user = users[i];
				var str = "<br><div class='match' onclick='view_profile(\""+user.email+"\")'>";
				str += "<img class='profilepic' src="+user.file1+" />" + "<br>";
				str += user.name + "<br>";
				str += "Interested in: "+ user.interest + "<br>";
				str += get_age(user.age);
				str += "<br>-Show location here-<br>";
				div.innerHTML += str+"</div>";
			}
		} else {
			console.log(data.message, data.data);
		}
	}

	function get_age(date) {
		var age = new Date(Date.now() - new Date(date));
		return Math.abs(age.getUTCFullYear() - 1970);
	}

	function view_profile(email) {
		console.log(email);
		xhr = new XMLHttpRequest();
		xhr.open("GET", 'api/getByMail', true);	
		xhr.setRequestHeader('Content-Type', 'application/json');
		xhr.onload = display_profile;
		xhr.send(JSON.stringify({'mail' : email}));
	}

	function display_profile() {
		// TODO display more stuff
		var div = document.getElementById('container');
		div.innerHTML = "";
		var user = JSON.parse(this.responseText).data;
		var cont = document.getElementById("container");
		var str = "<div id='search_content'>";
		str += "<br><div class='match'>";
		str += "<img src="+user.file1+" />" + "<br>";
		str += user.name + "<br>";
		str += get_age(user.age);
		str += "<br>-Show location here-<br>";
		div.innerHTML += str+"</div><br><br></div>";
	}
