doctype html
html
	head
		title #{user.name}'s Profile
		link(href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet")
		link(rel="stylesheet" href="style/style.css")
		link(rel="shortcut icon" href="favicon.png")
body(style="background-color: #300;")
	div#header

script.

	fuction onPageFinalLoad() {
		showHistory
	}

	function showHistory() {
		// get last 10 Profile views for this user
	}

	function showPopularityScore() {

	}
