doctype html
html
	head
		title Matcha
		link(href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet")
		link(rel="stylesheet" href="style/style.css")
		link(rel="shortcut icon" href="favicon.png")
body(style="background-color: #300;")
	div#header
	div.inner
		form(name="register" onsubmit="register_validate(); return false;")
			h3.title Complete Registration
			p#regmsg
			p         Gender
				select(name="gender")
					option(value="Adamasgender") Adamasgender
					option(value="Aerogender") Aerogender
					option(value="Aesthetigender") Aesthetigender
					option(value="Affectugender") Affectugender
					option(value="Agender") Agender
					option(value="Agenderflux") Agenderflux
					option(value="Alexigender") Alexigender
					option(value="Aliusgender") Aliusgender
					option(value="Amaregender") Amaregender
					option(value="Ambigender") Ambigender
					option(value="Ambonec") Ambonec
					option(value="Amicagender") Amicagender
					option(value="Androgyne") Androgyne
					option(value="Anesigender") Anesigender
					option(value="Angenital") Angenital
					option(value="Anogender") Anogender
					option(value="Anongender") Anongender
					option(value="Antegender") Antegender
					option(value="Anxiegender") Anxiegender
					option(value="Apagender") Apagender
					option(value="Apconsugender") Apconsugender
					option(value="Astergender") Astergender
					option(value="Astralgender") Astralgender
					option(value="Autigender") Autigender
					option(value="Autogender") Autogender
					option(value="Axigender") Axigender
					option(value="Bigender") Bigender
					option(value="Biogender") Biogender
					option(value="Blurgender") Blurgender
					option(value="Boyflux") Boyflux
					option(value="Burstgender") Burstgender
					option(value="Caelgender") Caelgender
					option(value="Cassgender") Cassgender
					option(value="Cassflux") Cassflux
					option(value="Cavusgender") Cavusgender
					option(value="Cendgender") Cendgender
					option(value="Ceterofluid") Ceterofluid
					option(value="Ceterogender") Ceterogender
					option(value="Cisgender") Cisgender
					option(value="Cloudgender") Cloudgender
					option(value="Collgender") Collgender
					option(value="Colorgender") Colorgender
					option(value="Commogender") Commogender
					option(value="Condigender") Condigender
					option(value="Deliciagender") Deliciagender
					option(value="Demifluid") Demifluid
					option(value="Demiflux") Demiflux
					option(value="Demigender") Demigender
					option(value="Domgender") Domgender
					option(value="Demi") Demi
					option(value="Duragender") Duragender
					option(value="Egogender") Egogender
					option(value="Epicene") Epicene
					option(value="Espigender") Espigender
					option(value="Exgender") Exgender
					option(value="Existigender") Existigender
					option(value="Female") Female
					option(value="Femfluid") Femfluid
					option(value="Femgender") Femgender
					option(value="Fluidflux") Fluidflux
					option(value="Gemigender") Gemigender
					option(value="Genderblank") Genderblank
					option(value="Genderflow") Genderflow
					option(value="Genderfluid") Genderfluid
					option(value="Genderflux") Genderflux
					option(value="Genderfuzz") Genderfuzz
					option(value="Gender") Gender
					option(value="Genderpunk") Genderpunk
					option(value="Genderqueer") Genderqueer
					option(value="Genderwitched") Genderwitched
					option(value="Girlflux") Girlflux
					option(value="Glassgender") Glassgender
					option(value="Glimragender") Glimragender
					option(value="Greygender") Greygender
					option(value="Gyragender") Gyragender
					option(value="Healgender") Healgender
					option(value="Heliogender") Heliogender
					option(value="Hemigender") Hemigender
					option(value="Horogender") Horogender
					option(value="Hydrogender") Hydrogender
					option(value="Imperigender") Imperigender
					option(value="Intergender") Intergender
					option(value="Juxera") Juxera
					option(value="Libragender") Libragender
					option(value="Male") Male
					option(value="Magigender") Magigender
					option(value="Mascfluid") Mascfluid
					option(value="Mascgender") Mascgender
					option(value="Maverique") Maverique
					option(value="Mirrorgender") Mirrorgender
					option(value="Molligender") Molligender
					option(value="Multigender") Multigender
					option(value="Nanogender") Nanogender
					option(value="Neutrois") Neutrois
					option(value="Nonbinary") Nonbinary
					option(value="Omnigender") Omnigender
					option(value="Oneirogender") Oneirogender
					option(value="Pangender") Pangender
					option(value="Paragender") Paragender
					option(value="Perigender") Perigender
					option(value="Polygender") Polygender
					option(value="Proxvir") Proxvir
					option(value="Quoigender") Quoigender
					option(value="Subgender") Subgender
					option(value="Surgender") Surgender
					option(value="Systemgender") Systemgender
					option(value="Tragender") Tragender
					option(value="Transgender") Transgender
					option(value="Transneutral") Transneutral
					option(value="Trigender") Trigender
					option(value="Vapogender") Vapogender
					option(value="Venngender") Venngender
					option(value="Verangender") Verangender
					option(value="Vibragender") Vibragender
			p Sexual interest 
				select(name="interest")
					option(value="Male") Male
					option(value="Female") Female
					option(value="Other") Other
			p  Date of Birth 
				input(type="date" name="age" required)
			p Add your interests:
			p Search 
				input(type="text" name="tags" required)
			p Bio:
			p 
				textarea(rows="4" cols="50" name="bio" required)
			p Upload 5 pictures of yourself:
			p 1 : 
				input(type="file" name="file1")
			p 2 : 
				input(type="file" name="file2")
			p 3 : 
				input(type="file" name="file3")
			p 4 : 
				input(type="file" name="file4")
			p 5 : 
				input(type="file" name="file5")
			p
				input(type="submit" value="Register")

script.

	function register_validate() {
		console.log(document.forms["register"]['gender'].value);
		console.log(document.forms["register"]['interest'].value);
		console.log(document.forms["register"]['age'].value);
		/*
		xhr = new XMLHttpRequest();
		xhr.open("POST", '/api/register', true);	
		xhr.setRequestHeader('Content-Type', 'application/json');
		xhr.onload = function() {
			var msg = document.getElementById("regmsg");
			var data = JSON.parse(this.responseText);
			if (data['message'] == 'OK') {
				location.reload();
			} else {
				msg.innerHTML = "*" + data['message'];
			}
			console.log(data);
		};
		xhr.send(JSON.stringify({
			'gender': document.forms["register"]["gender"].value,
			'interest': document.forms["interest"]["surname"].value,
			'age': document.forms["register"]["age"].value,
			'bio': document.forms["register"]["bio"].value,
			'tags': tags
		}));
		*/
	}
