doctype html
html
	head
		title Matcha
		link(href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet")
		link(rel="stylesheet" href="style/style.css")
		link(rel="shortcut icon" href="favicon.png")
body(style="background-color: #300;")
	div#header
	div.inner
		form(name="register" onsubmit="register_submit(); return false;")
			h3.title #{title}
			p#regmsg
			p         Gender
				select(name="gender")
					option(value=1) Male
					option(value=2) Female
					option(value=4) Other
			p Sexual interest 
				select(name="interest")
					option(value=1) Male
					option(value=2) Female
					option(value=3) Both
					option(value=4) Other
					option(value=5) Male and Other
					option(value=6) Female and Other
			p  Date of Birth 
				input(type="date" name="age" required)
			p Add your interests:
			p Search 
				input(type="text" name="tags" required)
			p Bio:
			p 
				textarea(rows="4" cols="50" name="bio" required)
			p Upload 5 pictures of yourself:
			p 1 :
				input(type="file" name="file1")
			p 2 : 
				input(type="file" name="file2")
			p 3 : 
				input(type="file" name="file3")
			p 4 : 
				input(type="file" name="file4")
			p 5 : 
				input(type="file" name="file5")
			p
				input(type="submit" value="Register")

script.

	function register_submit() {
		console.log("Register");
		xhr = new XMLHttpRequest();
		xhr.open("POST", 'api/updateSettings', true);	
		xhr.setRequestHeader('Content-Type', 'application/json');
		xhr.onload = register_response;
		xhr.send(JSON.stringify({
			'gender': document.forms["register"]["gender"].value,
			'interest': document.forms["register"]["interest"].value,
			'age': document.forms["register"]["age"].value,
			'bio': document.forms["register"]["bio"].value,
			'tags': document.forms["register"]["tags"].value,
			// TODO once this data is on the server, save the filedata and store file name only
			'file1': document.forms["register"]["file1"].value,
			'file2': document.forms["register"]["file2"].value,
			'file3': document.forms["register"]["file3"].value,
			'file4': document.forms["register"]["file4"].value,
			'file5': document.forms["register"]["file5"].value
		}));
	}

	function register_response() {
		var msg = document.getElementById("regmsg");
		var data = JSON.parse(this.responseText);
		if (data['message'] == 'OK') {
			location.href = "/";
		} else {
			msg.innerHTML = "*" + data['errmsg'];
		}
		console.log(data);
	}

	function register_validate() {
		console.log(document.forms["register"]['gender'].value);
		console.log(document.forms["register"]['interest'].value);
		console.log(document.forms["register"]['age'].value);
	}
